* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

header {
  background-color: #1f2937;
}

.hero-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: extra-bold;
}

.hero-subtitle,
.header-links * {
  color: #e5e7eb;
  font-size: 18px;
}

.header-links * {
  text-decoration: none;
}

.nav-bar p {
  color: #f9faf8;
  font-size: 24px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}
